.infinite-autocomplete-wrapper {
  position: relative;

  input {
    height: 28px;
    border-radius: 8px;
    width: 100%;
    text-indent: 3px;
  }

  ul {
    position: absolute;
    z-index: 10;
    overflow: hidden scroll;
    background: white;
    border: 1px solid rgb(188, 188, 188);
    padding-bottom: 5px;
    max-height: 160px;
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    transform: translateY(5px) translateZ(0px);

    &.hidden {
      display: none;
    }

    li {
      padding: 5px 10px 10px 10px;
      cursor: pointer;

      &:hover {
        background: #d5ebff;
      }
    }
  }

  i.loader {
    display: none;
    position: absolute;
    z-index: 1;
  }
}
